<!--<h1>Product List</h1>-->
<!--<a routerLink="first/12">Iphone 12</a>-->
<!--<br>-->
<!--<a routerLink="first/13">Iphone 13</a>-->
<!--<br>-->
<!--<a routerLink="first/14">Iphone 14</a>-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="first/13">Iphone 13</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="first/14">Iphone 14</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->

<div >
  <a [routerLink]="['products',product.id]" *ngFor="let product of productList">{{product.name}}</a>
</div>


<router-outlet></router-outlet>
